debhelper-build-stamp
*.debhelper.log
files
gccgo-go/
gccgo-go.substvars
golang/
golang-any/
golang-any.substvars
golang-doc/
golang-doc.substvars
golang-go/
golang-go.postinst.debhelper
golang-go.postrm.debhelper
golang-go.preinst.debhelper
golang-go.prerm.debhelper
golang-go.substvars
golang-src/
golang-src.substvars
golang.substvars
